@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;
@inject UserManager<Users> userManager;

<ul class="navbar-nav ms-auto" style="direction: ltr;">
    @if (signInManager.IsSignedIn(User))
    {
        var currentUser = await userManager.GetUserAsync(User);
        if (currentUser != null)
        {
            <li class="nav-item">
                <span class="nav-link">Welcome @currentUser.FullName !</span>
            </li>
           
        }
       @*  <li class="nav-item">
            <a class="nav-link btn btn-outline-light logout px-3" asp-controller="Account" asp-action="Logout">
                <i class="fas fa-sign-out-alt"></i> <!-- أيقونة تسجيل الخروج -->
            </a>
        </li> *@
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white fw-bold" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white fw-bold" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>

<!-- تضمين FontAwesome لاستخدام الأيقونات -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

