@using UsersApp.ViewModels;
@model LoginViewModel;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="split-layout">
    <!-- القسم الأيسر للصورة -->
    <div class="left-side">
        <img src="~/images/9.jpg" alt="Login Image" class="login-image" />
    </div>

    <!-- القسم الأيمن للفورم -->
    <div class="right-side">
        <div class="account-box">
            <h2>Login</h2>

            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-valid"></div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-valid"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-valid"></span>
                </div>

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="form-check">
                        <input asp-for="RememberMe" class="form-check-input" />
                        <label class="form-check-label">
                            @Html.DisplayNameFor(a => a.RememberMe)
                        </label>
                    </div>
                    <a asp-controller="Account" asp-action="VerifyEmail">Forgot password?</a>
                </div>

                <button type="submit" class="btn mt-2">Login</button>

                <p class="text-center mt-3">
                    Don't have an account? <a asp-controller="Account" asp-action="Register">Register</a>
                </p>

                <div class="text-center mt-2">
                    <a asp-controller="Home" asp-action="Start">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
