@using UsersApp.ViewModels;
@model RegisterViewModel;

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div class="split-layout">
    <div class="left-side">
        <img src="~/images/register.jpg" alt="Login Image" class="login-image" />
    </div>
    <div class="right-side">
    <div class="account-box">
        <h2 class="text-center mb-4">Register !</h2>
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-valid"></div>

            <div class="mb-3">
                <label asp-for="FullName" class="form-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-valid"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-valid"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-valid"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-valid"></span>
            </div>

            <button type="submit" class="btn btn-success w-100 p-2">Register</button>

            <p class="text-center mt-3">
                Already have an account? <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Login</a>
            </p>

            <div class="text-center mt-3">
                <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Back</a>
            </div>
        </form>
    </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
