@{
    ViewData["Title"] = "Learn Page";
    Layout = "~/Views/Shared/_Join.cshtml";
}
<div class="learn-section">
    <h2 class="learn-title">How to Use Equal Call</h2>

    <div class="learn-row">
        <div class="learn-card">
            <img src="~/images/L1.png" alt="Step 1">
            <p>Step 1: Get start with our app.</p>
        </div>
        <div class="learn-card">
            <img src="~/images/L2.png" alt="Step 2">
            <p>Step 2:Create an account.</p>
        </div>
        <div class="learn-card">
            <img src="~/images/L3.png" alt="Step 3">
            <p>Step 3:Login using Your Email and Password.</p>
        </div>
        <div class="learn-card">
            <img src="~/images/L41.png" alt="Step 3">
            <p>Step 3:Select your process.</p>
        </div>
    </div>

    <div class="learn-row">
        <div class="learn-card">
            <img src="~/images/L5.png" alt="Step 4">
            <p>Step 4:make Inclusive conference.</p>
        </div>
        <div class="learn-card">
            <img src="~/images/L6.png" alt="Step 5">
            <p>Step 5:make Inclusive meeting.</p>
        </div>
        <div class="learn-card">
            <img src="~/images/L7.png" alt="Step 6">
            <p>Step 6:Set Your App_ID and Start call.</p>
        </div>
        <div class="learn-card">
            <img src="~/images/8.jpg" alt="Step 6">
            <p>Enjoy with us .</p>
        </div>
    </div>

</div>
